@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Leckerli+One&family=Lemon&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    /* margin:0;
    padding: 0;
    text-decoration: none; */
}

.header1{
    height: 55rem;
}

header nav{
    font-family: "Belgrano", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  /* background: linear-gradient(black,black); */
}
/* header nav{
    background: linear-gradient(black,rgba(0, 0, 0, 0.597));
} */

 .anime{
    font-family: "Leckerli One";
  font-weight: 400;
  font-style: normal;
}

.carte{
    background:linear-gradient(rgba(0, 0, 0, 0.307),black);
}

.disponible{
    background:rgba(255, 255, 255, 0.532);
    border-radius:6px;
    font-family: "Belgrano";
}

.header2{
    padding-top: 8rem;
}

.cont{
   background: rgba(255, 255, 255, 0.466);
   padding: 15px;
   border-radius: 10px;
}
.section-home{
    height: 800px;
}

h3{
  font-weight: 700;
  font-style: normal;
}

p{
    font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
}
.button1{
    height: 69px;
    font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  color: black;
  border-radius: 10px;
  color: white;
}

.test{
  background: #000;
  width: 314px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer{
  background: linear-gradient(#30182E,#242B3E,#192755);
  /* height: 800px; */
}
.section-market{
  height: 525px;

}

.carte_market{
  background: linear-gradient(90deg,#47474778,#e46a6a7a);
}

 

    .swiper-slide {
      display: flex;
      justify-items: center;
      align-items: center;
    }


    /* .open{
      ;
    } */
    
    .mobile-menu{
      right: 0;
    }

    .open_rarter{
      right: 25%;
    }
    button:hover{
      transform: scale(1.1);
      transition: .3s;
    }

    .open_panier{right: 0%;}

/* 
@media screen and (max-width: 700px){
    .cont_parent{
   width:342.84px;
}
    
} */